<?xml version="1.0"?>
<config>
    <modules>
        <Ionoi_Authorization>
            <version>0.1.0</version>
        </Ionoi_Authorization>
    </modules>
    <global>
        <models>
            <authorization>
                <class>Ionoi_Authorization_Model</class>
            </authorization>
        </models>
        <helpers>
            <authorization>
                <class>Ionoi_Authorization_Helper</class>
            </authorization>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <authorization>
                        <class>Ionoi_Authorization_Model_Observer</class>
                        <method>onFrontendActionDispatch</method>
                    </authorization>
                </observers>
            </controller_action_predispatch>
            <customer_customer_authenticated>
                <observers>
                    <authorization>
                        <class>Ionoi_Authorization_Model_Observer</class>
                        <method>onCustomerAuthenticated</method>
                    </authorization>
                </observers>
            </customer_customer_authenticated>
        </events>
        <translate>
            <modules>
                <authorization>
                    <files>
                        <default>Ionoi_Authorization.csv</default>
                    </files>
                </authorization>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <authorization>
                    <files>
                        <default>Ionoi_Authorization.csv</default>
                    </files>
                </authorization>
            </modules>
        </translate>
    </adminhtml>
</config>